@import url('../../cssGlobals/colors.css');
@import url('../../cssGlobals/viewSize.css');

.criteria{
    padding: 1em .5em;
    border: 1px solid black;
    cursor: pointer;
    @media(--small-viewport){
        padding: .5em;
    }
}
.awesome{
    background-color: var(--awesome);
}
.almost-there{
    background-color: var(--almost-there);
}
.needs-improvement{
    background-color: var(--needs-improvement);
}